<!DOCTYPE html>

<body>
<div class="d-flex">
  <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
    <button id="bottoneLeaderboard">
      <a class="nav-link" routerLink="/homepageutente"> Home</a>
    </button>
  </li>

</div>
<form class="form-signin1">

  <h1>Leaderboard</h1>
  <table>
    <thead>
    <tr>
      <th>Giocatore</th>
      <th>Punteggio</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let opzione of giocatore ">
      <td>{{opzione.nomeutente}}</td>
      <td>{{opzione.punteggio}}</td>
    </tr>
    </tbody>
  </table>
</form>

</body>

