.form-signin
{
  background-color: bisque;
  border-radius: 10%;
  max-width: 50%;
  height: 70px;
  padding: 20px;
  margin: 0 auto;
  margin-left: 25%;

}
h1 {
  text-align: center;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: bolder;
}
.d-flex{
  margin-left: 87%;

  margin-top: 2%;
}

button{
  background-color: darkgoldenrod;
  border-color: darkgoldenrod;
}

a:hover{
  color: white;
}


#bottoneServizi{
  margin-left:500%;
}

a{
  font-size: 14pt;
  color: white;
}
