<!DOCTYPE html>
  <body>
<div class="d-flex">
  <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
    <button id="bottoneservizi">
      <a class="nav-link" routerLink="/homepageadmin"> Home</a>
    </button>
  </li>
</div>
<div class="container mt-5">
  <form class="form-signin">
    <h1><b>Bacheca</b></h1>
  </form>
  <div class="mt-5">
    <div class="card mb-3" *ngFor="let post of posts">
      <img [src]="post.image" class="card-img-top" alt="Immagine del post">
      <div class="card-body">
        <p class="card-text">{{ post.text }}</p>
        <button class="btn btn-danger" (click)="deletePost(post)">Elimina</button>
      </div>
    </div>
  </div>
</div>
  </body>






