<div class="container mt-5">
  <h2 class="text-center mb-5">Bacheca</h2>
  <div class="mt-5">
    <h3>Post esistenti:</h3>
    <div class="card mb-3" *ngFor="let post of posts">
      <img [src]="post.image" class="card-img-top" alt="Immagine del post">
      <div class="card-body">
        <p class="card-text">{{ post.text }}</p>
        <button class="btn btn-warning" (click)="updatePost(post)">Modifica</button>
        <button class="btn btn-danger" (click)="deletePost(post)">Elimina</button>
      </div>
    </div>
  </div>
</div>






