<!DOCTYPE html>
<body>
<div class="d-flex">
  <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
    <button id="bottoneloginutente">
      <a class="nav-link" routerLink="/login"> Login utente</a>
    </button>
  </li>
  <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
    <button id="bottoneloginadmin">
      <a class="nav-link" routerLink="/loginadmin"> Login admin</a>
    </button>
  </li>
</div>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="assets/home1.jpg" alt="Image">
    </div>
  </div>
<br>
  <div class = "about-wrapper">
    <div class = "about-left">
      <div class = "about-left-content">
        <div>
          <div class = "shadow">
            <div class = "about-img">
              <img src = "assets/icon.png" alt = "about image">
            </div>
          </div>

          <h2>ANIMAL HOUSE</h2>
          <h3>Giochi e curiosità sugli animali!</h3>
        </div>
      </div>

    </div>

    <div class = "about-right">
      <h1>Ciao!<span>!</span></h1>
      <h2>Chi siamo? Cosa offriamo?</h2>

      <div class = "about-para">
        <p>Siamo una community di appassionati di animali che offrono curiosità e servizi sul mondo animale.</p>
        <p>Puoi decidere di leggere alcune nozioni su varie tipologie di animali domestici, dalle più particolari alle specie più comuni. </p>
        <p>Puoi divertirti con i nostri quiz e giochi per saperne sempre di più e divertirti con i tuoi amici.</p>
      </div>
    </div>
  </div>
</body>
