<!DOCTYPE html>
<html lang="it">
<head>
  <title>Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="assets/home1.jpg" alt="Image">
    </div>
  </div>
<br>
<br>
<div class="grid">
  <div class="card1">
    <img src='assets/gioco.jpg'>
    <h3><a href="">Gioca al nostro quiz!</a></h3>
    <p>Scopri varie curiosità con domande generate random dal sistema</p>
  </div>
  <br>
  <br>
  <div class="card2">
    <img src='assets/curiosità.jpg'>
    <h3><a href="/curiosità">Lo sapevi che...</a></h3>
    <p>Scopri nuove curiosità e aneddoti sul mondo animale</p>
  </div>
  <br>
  <br>
  <div class="card3">
    <img src='assets/sanità.jpg'>
    <h3><a href="/info">Legge e sanità</a></h3>
    <p>Informazioni utili sulla legalità e la sanità</p>
  </div>
</div>
<br>

</body>
</html>
