body {
  border-radius: 5%;
  margin-top: 2%;
  background: bisque;
  margin-left: 5%;
  margin-right: 5%;
}
section{
  margin-left: 10%;
}

h1{
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: xx-large;
  padding-top: 2%;
}

.domande {
  column-count: 2;
}

li {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 3%;
}

button {
  color: #865306;
  margin-right: 2%;
  margin-bottom: 5%;
  margin-top: 3%;
  gap: normal;
  border-color: transparent;
}

#punteggio{
  text-align: right;
  margin-right: 5%;
  font-size: 14pt;
  color: #865306;
}


p {
  font-weight: bolder;
}

mat-radio-button {
  margin-left: 16px;
}


.d-flex{
  margin-left: 50%;
  margin-top: 0%;
}


a:hover{
  color: white;
}


#bottoneLeaderboard{
  margin-left:300%;
  background-color: darkgoldenrod;
  border-color: darkgoldenrod;
}

a{
  font-size: 14pt;
  color: white;
}


