<!DOCTYPE html>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="./assets/logoNavbar.png">
      Animal House
    </a>
    <button (click)=toggleDisplayDivIf() class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- *ngIf="!isShowDivIf" --- hide and show -->
    <div [ngClass]="!isShowDivIf ? 'responsive__active' : 'responsive__inactive'" class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ">
        <li (click)=toggleDisplayDivIf()  class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="./paginavideo">Intrattenimento</a>
        </li>
        <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="./info">Informazioni</a>
        </li>
        <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="./curiosita">Curiosita'</a>
        </li>
        <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="./quiz">Gioca</a>
        </li>
      </ul>
    </div>
    <div class="d-flex">
    <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
      <button>
      <a class="nav-link" routerLink="./contatti"> Contatti</a>
      </button>
    </li>
    </div>
    </div>
</nav>
</body>
