.container{
  margin-left: 5px;
  margin-right: 5px;
}
img{
  width: 60px;
  height: 60px;
}

a{
  font-size: 14pt;
  color: white;
}

a:hover{
  color:white;
}

.navbar-brand{
  font-size: 20pt;
}

.d-flex{
  margin-left: 50%;
  margin-bottom: 18px;
}

button{
  background: transparent;
  border-color: white;
}

button:hover{
  background: darkgoldenrod;
}

@media only screen and (max-width: 480px) {
  .container{
    margin-left: 0;
    margin-right: 0;
  }

  img{
    width: 40px;
    height: 40px;
  }

  a{
    font-size: 12pt;
  }

  .navbar-brand{
    font-size: 18pt;
  }

  .d-flex{
    margin-left: 0;
  }
}
