<!DOCTYPE html>
<link rel="stylesheet" href="login.css">
<body>
<form class="form-signin">
    <img src="login.png">
              <div>
                <input type="text" class="form-control" placeholder="Email" required autofocus>
              </div>
                <div>
                <input type="password" class="form-control" placeholder="Password" required>
                </div>
                <div>
                <button type="submit">Accedi</button>
                </div>
                <p>Se non hai un account <a href="registrazione.html" >clicca qui</a></p>
    </form>
</body>

