<!DOCTYPE html>
<link rel="stylesheet" href="registrazione.css">
<body>
<form class="form-signin">
    <img src="login.png">
    <div>
      <p>Inserisci i tuoi dati</p>
      <input type="text" class="form-control" placeholder="NomeUtente" required autofocus>
    </div>
    <div>
      <input type="text" class="form-control" placeholder="Animale preferito" required autofocus>
    </div>
              <div>
                <input type="text" class="form-control" placeholder="Email" required autofocus>
              </div>
                <div>
                <input type="password" class="form-control" placeholder="Password" required>
                </div>
                <div>
                <button type="submit">Invia</button>
                </div>
                <p>Se hai già un account <a href="login.html" >clicca qui</a></p>
    </form>
</body>
