form{
  display:flex;
  flex-direction:column;
  align-items: center;
  margin:30px;
  padding:5px;
  background-color:bisque;
  border-radius: 10px;
  width: 70%;
  margin-left: 15%;
}
.d-flex{
  margin-left: 65%;
  margin-bottom: 18px;
}

button{
  background-color: darkgoldenrod;
  border-color: darkgoldenrod;
}

a:hover{
  color: white;
}

#bottoneservizi{
  margin-left:250%;
}
label{
  margin:10px 0;
}
select{
  margin-left: 10px;
  padding:5px;
  font-size: 16px;
  border-radius:5px;
  border: 1px solid #ccc;
}
input{
  margin-left:5px;
}
button{
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #8a6500;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
button:hover{
  background-color:#bb8640;
}
h2{
  text-align: center;
  font-family: Roboto;

}
