<mat-toolbar>
  <span> Guarda questi video...</span>
</mat-toolbar>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let info of info" >
      <mat-card id="cardAnimal" class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title> {{info.title}} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{info.link}}
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>
