<!DOCTYPE html>
<body>
<form class="form-signin">
  <h1><b>Guarda questi video...</b></h1>
</form>

<div class="grid">
  <form class="form-signin2">
    <div class="video1">
      <p>Ti sfidiamo: prova a non ridere!</p>
      <iframe width="260" height="200" src="https://www.youtube.com/embed/k9nRLWuqEYc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>
  </form>
  <form class="form-signin1">
    <div class="video2">
      <p>Vocabolario sugli animali per bambini</p>
      <iframe width="260" height="200" src="https://www.youtube.com/embed/52guVKfdPCI" title="YouTube video player"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
              picture-in-picture; web-share" allowfullscreen>
      </iframe>
    </div>
  </form>
  <form class="form-signin1">
    <div class="video3">
      <p>Scene degli animali più buffi dei social</p>
      <iframe width="260" height="200" src="https://www.youtube.com/embed/Dht53UaJf4I" title="YouTube video player"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
              picture-in-picture; web-share" allowfullscreen>

      </iframe>
    </div>
  </form>
</div>
</body>
