h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: bolder;
}

body {
  display: block;
  background: transparent;
  border-radius: 3%;
  margin-top: 5%;
  background-size: cover;

}

.form-signin
{
  background-color: bisque;
  border-radius: 10%;
  max-width: 50%;
  height: 70px;
  padding: 20px;
  margin: 0 auto;
  margin-left: 25%;

}
.form-signin1
{
  background-color: bisque;
  border-radius: 10%;
  max-width: 100%;
  height: 400px;
  padding: 20px;
  margin: 0 auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
}
.form-signin2
{
  background-color: bisque;
  border-radius: 10%;
  max-width: 150%;
  height: 400px;
  padding: 30px;
  margin: 0 auto;
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 10%;
}
.grid {
  display: grid;
  grid-template-areas: "video1 video2 video3";
}

.video1 {
  grid-area: video1;
  margin-left: 2%;
}

.video2 {
  grid-area: video2;
  margin-left: 0.5%;
}

.video3 {
  grid-area: video3;
  margin-left: 2%;
}
p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
  font-weight: bolder;
}
