<!DOCTYPE html>
<body>
<form class="form-signin">
  <h1><b>Guarda questi video...</b></h1>
</form>

<div class="grid">
  <form class="form-signin1">
    <div class="email">
      <p>Prova a non ridere Challenge</p>
      <br>
      <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/MCIM1Oappvg" title="YouTube video player"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture; web-share" allowfullscreen>
      </iframe>
    </div>
  </form>
  <form class="form-signin1">
    <div class="localizzazione">
      <p>Vocabolario sugli animali per bambini</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/52guVKfdPCI" title="YouTube video player"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
              picture-in-picture; web-share" allowfullscreen>
      </iframe>
    </div>
  </form>
  <form class="form-signin1">
    <div class="social">
      <p>Scene degli animali più buffi dei social</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Dht53UaJf4I" title="YouTube video player"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
              picture-in-picture; web-share" allowfullscreen>

      </iframe>
    </div>
  </form>
</div>
</body>
