.content{
  width: 100%;

  padding: 2px;

}

#cardAnimal {
  margin-top: 40px;
  height: 100%;
  background-color: bisque;
}


p{
  font-size: 12pt;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a{
  color: #865306;
}

mat-toolbar{
  background-color: bisque;
  font-size: 24pt;
  color: #865306;
  padding-left: 35%;
}



