.content {
  padding: 16px;

}

#cardAnimal {
  margin-top: 40px;
  background-color: bisque;
}


p{
  font-size: 12pt;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a{
  color: #865306;
}

mat-toolbar{
  background-color: bisque;
  font-size: 24pt;
  color: #865306;
  padding-left: 35%;
}

@media only screen and (max-width: 480px) {
  #cardAnimal {
    margin-top: 20px;
  }

  p {
    font-size: 10pt;
    margin-left: 2%;
  }

  mat-toolbar {
    font-size: 18pt;
    padding-left: 1%;
    padding-right: 25%;
  }
}



