<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Chi siamo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/chi siamo.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<body>

<div class = "about-wrapper">
  <div class = "about-left">
    <div class = "about-left-content">
      <div>
        <div class = "shadow">
          <div class = "about-img">
            <img src = "assets/icon.png" alt = "about image">
          </div>
        </div>

        <h2>ANIMAL HOUSE</h2>
        <h3>Giochi e curiosità sugli animali!</h3>
      </div>
    </div>

  </div>

  <div class = "about-right">
    <h1>Ciao!<span>!</span></h1>
    <h2>Chi siamo? Cosa offriamo?</h2>

    <div class = "about-para">
      <p>Siamo una community di appassionati di animali che offrono curiosità e servizi sul mondo animale.</p>
      <p>Puoi decidere di leggere alcune nozioni su varie tipologie di animali domestici, dalle più particolari alle specie più comuni. </p>
      <p>Puoi divertirti con i nostri quiz e giochi per saperne sempre di più e divertirti con i tuoi amici.</p>
    </div>
  </div>
</div>
</body>
</html>
