<!DOCTYPE html>
<head>
  <script src="https://www.youtube.com/iframe_api"></script>
</head>
<body>
<mat-toolbar>
  <span> Informazioni utili Sanitarie e Legali </span>
</mat-toolbar>

  <div class="grid">
    <form class="form-signin1">
    <div class="email">
      <p>Sai chi è l'animale più forte della savana?</p>
      <br>
      <br>
       <iframe width="250" height="200" src="https://www.youtube.com/watch?v=hlAHjHupCqA" title= "YouTube video player"
      frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
    </div>
  </form>
  <form class="form-signin1">
    <div class="localizzazione">
      <p>Sapevi che gli animali si muovono meglio in gruppo?</p>
      <iframe width="250" height="200" src="https://www.youtube.com/watch?v=hlAHjHupCqA" title= "YouTube video player"
          frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
  </form>
  <form class="form-signin1">
    <div class="social">
      <p>Guarda come sono diventati gli animali dopo il Covid</p>
      <iframe width="250" height="200" src="https://www.youtube.com/watch?v=hlAHjHupCqA" title= "YouTube video player"
          frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
    </div>
  </form>
</div>
</body>
