<!DOCTYPE html>
<body>
<div class="d-flex">
  <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
    <button id="bottoneservizi">
      <a class="nav-link" routerLink="/servizipresenza"> Servizi</a>
    </button>
  </li>
</div>

<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
  <h2>Prenota il tuo appuntamento</h2>
  <div>
    <label>Nome e Cognome cliente:</label>
    <input type="text" formControlName="nomeutente"/>
  </div>
  <div>
    <label>Numero Telefono:</label>
    <input type="text" formControlName="telefono"/>
  </div>
  <div>
    <label>Da:</label>
    <select formControlName="date">
      <option *ngFor="let date of availableDates" [value]="date">{{date}}</option>
    </select>
  </div>
  <div>
    <label>A:</label>
    <select formControlName="date2">
      <option *ngFor="let date of availableDates" [value]="date">{{date}}</option>
    </select>
  </div>
  <div>
    <label>Mese:</label>
    <select formControlName="month">
      <option *ngFor="let month of availableMonths" [value]="month">{{month}}</option>
    </select>
  </div>
  <button type="submit">Prenota</button>
</form>
</body>
