body {
  display: block;
  background-image:url(sfondo.jpg);
  border-radius: 3%;
  margin-top: 5%;
  background-size: cover;

}
.form-signin
{
background-color: bisque;
border-radius: 10%;
  max-width: 50%;
  height: 250px;
  padding: 20px;

  margin-left: 20%;
  margin-top: 2%;
}
.form-signin1
{
background-color: bisque;
border-radius: 10%;
  max-width: 120%;
  height: 450px;
 margin-right: 15%;
  margin-left: 15%;
  margin-top: 1%;
}
p {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  margin-top: 3%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: bolder;
}

img {
  width: 70%;
  height: 450px;
  margin-left: 13%;
  margin-top: 5%;
}

.grid {
  display: grid;
  grid-template-areas: "email localizzazione social";
}

.email {
  grid-area: email;
  margin-left: 2%;
}

.localizzazione {
  grid-area: localizzazione;
  margin-left: 2%;
}

.social {
  grid-area: social;
  margin-left: 2%;
}
.google-maps {
  position: relative;
  padding-bottom: 75%; /* Definisco l'aspect ratio */
  height: 0;
  overflow: hidden;
}
.google-maps > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 60% !important;
  height: 60% !important;
}


@media (max-width: 576px) {
  img {
    width: 50%;
    height: 200px;
    margin-top: 15%;
  }

  .email {
    margin-left: 1%;
  }

}
  