<!DOCTYPE html>
<link rel="stylesheet" href="contatti.css">
<body>
  <form class="form-signin1">
  <div id="contatti">
    <img src="contatti.png">
  </div>
</form>
  <br>
  <div class="grid">
    <form class="form-signin">
    <div class="email">
      <h1>Contattaci</h1> 
      <p> <!--<mat-icon> email</mat-icon>-->Email: info@animalhouse.it </p> 
      <p><!--<mat-icon> call</mat-icon>--> 800505050 </p>
    </div>
  </form>
  <form class="form-signin">
    <div class="localizzazione">
      <h1>Dove siamo</h1>
      <p> <!--<mat-icon> location_on</mat-icon>-->Piazza di Porta S. Donato, 5, 40126 Bologna BO </p>
      <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2845.839135318612!2d11.353722815465593!3d44.49796287910132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fd4f28a65b343%3A0xdd7d8fb6030e9945!2sDipartimento%20di%20Matematica%20-%20Universit%C3%A0%20di%20Bologna!5e0!3m2!1sit!2sit!4v1674563818322!5m2!1sit!2sit"
         width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </form>
  <form class="form-signin">
    <div class="social">
      <h1>Cercaci anche su:</h1>
      <p> <!--<mat-icon> facebook</mat-icon>-->AnimalHouse </p>
      <p> <!--<mat-icon> instagram</mat-icon>-->AnimalHousegame </p>
    </div>
  </form>
</div>
</body>

